<h1><%= @vendor.name %></h1>

<h3>Sweets</h3>

<%@vendor.sweets.each do |sweet| %>
  <%= link_to  sweet.name, sweet_path(sweet) %><li>
<%end%>

<h3>Add Sweet to Vendor </h3>

<%= render partial: "form" %>